body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container {
  width: 300px;
  margin: 0 auto;
  position: relative; 
}

.search-bar {
  width: 100%;
  height: 40px;
  font-size: 14px;
  padding: 8px 16px 8px 36px; 
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
}

.search-bar-container {
  position: absolute; 
  top: 50%; 
  transform: translateY(-50%);
  left: 10px; 
}

.material-icons {
  position: absolute; 
  left: 10px; 
  top: 50%; 
  transform: translateY(-50%);
  font-size: 20px;
  color: #777; 
  pointer-events: none; 
}

.button-container {
  display: flex;
}

.search-button {
  width: 150px;
  height: 40px;
  font-size: 12px;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 8px;
}

.search-button:last-child {
  margin-right: 0;
}
